@model eCommerce.Entities.Urun

@{
    ViewData["Title"] = "Ürün Sil";
}

<h1>Ürün Sil</h1>

<h3>Silme istediğinize emin misiniz?</h3>
<div>
    <h4>Ürün</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miktari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miktari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aromasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aromasi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UretimYili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UretimYili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatistaMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatistaMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notlar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.Adi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Listeye Dön</a>
    </form>
</div>
